# Xcode
.DS_Store
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcworkspace
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build folders
build/
Builds/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Misc
*.swp
*.orig

# Design references (not needed in repo)
assets/
